<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mytextutils</title>

</head>
<body style="background-color:black ;color:white;">
    <h1>Welcome to the text analyazer. Enter your text below</h1>


    <form action="/analyze" method="get">
        <textarea name="text" style="margin:0px; width: 721px; height:93px;"></textarea><br> <br>
        <input type="radio" name="removepunc"> Remove Punctuations <br>
        <input type="radio" name="spaceremove"> Space Remove<br>
        <input type="radio" name="capitalize"> Capitalize The String<br>
        <input type="radio" name="newlineremove"> New Line Remove <br>
        <input type="radio" name="extraspaceremove"> Extra Space Remove<br>
        <input type="radio" name="charcount"> Character Count<br> <br>
        <button type="submit"> Analyze Text</button>




</form>

</body>
</html>